<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Richiedi certificato per un singolo nominativo</h1>
            <p class="mt-4 textsize-4">
                Scegli un richiedente dalla tua rubrica oppure inserisci manualmente <br>
                un nuovo nominativo compilando i campi richiesti.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 13%;">Visura/Certificati <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 11%;">Richiesta singola <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;">Visura<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="generic-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <section class="select-form-type">
                        <span>Seleziona un richiedente dalla rubrica</span>
                        <select formControlName="sel_mittente">
                            <option value="" selected>-- Seleziona richiedente dalla rubrica --</option>
                            <option value="1">Ewt</option>
                            <option value="2">EasySender</option>
                            <option value="3">Scialb</option>
                        </select>
                    </section>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center color-blue mt-4 mb-5">Compila i campi per inserire un nuovo richiedente</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <label class="flex-start">
                                NOME
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="nome" />
                        </li>
                        <li>
                            <label class="flex-start">
                                INDIRIZZO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="indirizzo" />
                        </li>
                        <li>
                            <label>CITTÀ</label>
                            <input type="text" formControlName="citta" />
                        </li>
                        <li>
                            <label>TELEFONO</label>
                            <input type="phone" formControlName="telefono" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <label class="flex-start">
                                COGNOME
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="cognome" />
                        </li>
                        <li>
                            <label>CAP</label>
                            <input type="text" formControlName="cap" maxlength="5" />
                        </li>
                        <li>
                            <label class="flex-start">
                                PROVINCIA
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="provincia" maxlength="2" />
                        </li>
                        <li>
                            <label>EMAIL</label>
                            <input type="email" formControlName="email" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <ul>
                        <li>
                            <label class="flex-start">
                                STATO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="stato" />
                        </li>
                    </ul>                        
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label for="destinatario" class="flex-start">
                        <input type="checkbox" formControlName="destinatario" id="destinatario" checked>&nbsp;&nbsp;Destinatario uguale al richiedente
                    </label>

                </div>
                <div class="col-md-2"></div>
            </div>

            <div *ngIf="!form.get('destinatario')?.value" id="destinatario-ar">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center color-blue mt-5 mb-5">Compila i campi del destinatario</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <label class="flex-start">
                                    NOME
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="nome_2" />
                            </li>
                            <li>
                                <label class="flex-start">
                                    INDIRIZZO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="indirizzo_2" />
                            </li>
                            <li>
                                <label>CITTÀ</label>
                                <input type="text" formControlName="citta_2" />
                            </li>
                            <li>
                                <label>TELEFONO</label>
                                <input type="phone" formControlName="telefono_2" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <label class="flex-start">
                                    COGNOME
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="cognome_2" />
                            </li>
                            <li>
                                <label>CAP</label>
                                <input type="text" formControlName="cap_2" maxlength="5" />
                            </li>
                            <li>
                                <label class="flex-start">
                                    PROVINCIA
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="provincia_2" maxlength="2" />
                            </li>
                            <li>
                                <label>EMAIL</label>
                                <input type="email" formControlName="email_2" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <ul>
                            <li>
                                <label class="flex-start">
                                    STATO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="stato_2" />
                            </li>
                        </ul>                        
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="group-button">
                <a routerLink="/visuraSingola">INDIETRO</a>
                <input type="submit" value="AVANTI" />
            </div>

            <!-- ERRORE MOSTRATO SOLO DOPO SUBMIT -->
            <div *ngIf="alertMessage" class="alert-message">
                <span><i class='bx bxs-error color-orange'></i> {{ alertText }}</span> 
            </div>
            

        </form>
    </div>
</div>