<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Inserisci il mittente</h1>
            <p class="mt-4 textsize-4">
                Scegli un mittente dalla tua rubrica oppure inserisci manualmente <br>
                un nuovo nominativo compilando i campi richiesti.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Raccomandata <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 11%;">Invio singolo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 18%;">Invio singolo con bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Configura raccomandata<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="generic-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <section class="select-form-type">
                        <span>Seleziona un mittente dalla rubrica</span>
                        <select formControlName="sel_mittente">
                            <option value="" selected>-- Seleziona mittente dalla rubrica --</option>
                            <option value="1">Ewt</option>
                            <option value="2">EasySender</option>
                            <option value="3">Scialb</option>
                        </select>
                    </section>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center color-blue mt-4 mb-5">Compila i campi per inserire un nuovo mittente</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <ul>
                        <li>
                                <label class="flex-start">
                                    NOMINATIVO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                                </label>
                            <input type="text" formControlName="nominativo" />
                        </li>
                        <li>
                            <label class="flex-start">
                                INDIRIZZO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="indirizzo" />
                        </li>
                        <li>
                            <label>CAP</label>
                            <input type="text" formControlName="cap" maxlength="5" />
                        </li>
                        <li>
                            <label class="flex-start">
                                PROVINCIA
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="provincia" maxlength="2" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <label class="flex-start">
                                COMPLETAMENTO NOMINATIVO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplName}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="comp_nominativo" />
                        </li>
                        <li>
                            <label class="flex-start">
                                COMPLETAMENTO INDIRIZZO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplAddress}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="comp_indirizzo" />
                        </li>
                        <li>
                            <label>CITTÀ</label>
                            <input type="text" formControlName="citta" />
                        </li>
                        <li>
                            <label class="flex-start">
                                STATO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="stato" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label for="destinatario" class="flex-start">
                        <input type="checkbox" formControlName="destinatario" id="destinatario" checked>&nbsp;&nbsp;Destinatario AR uguale al mittente
                    </label>

                </div>
                <div class="col-md-2"></div>
            </div>

            <div *ngIf="!form.get('destinatario')?.value" id="destinatario-ar">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center color-blue mt-5 mb-5">Compila i campi del destinatario AR</h3>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <label class="flex-start">
                                    NOMINATIVO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="nominativo_ar" />
                            </li>
                            <li>
                                <label class="flex-start">
                                    INDIRIZZO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="indirizzo_ar" />
                            </li>
                            <li>
                                <label>CAP</label>
                                <input type="text" formControlName="cap_ar" maxlength="5" />
                            </li>
                            <li>
                                <label class="flex-start">
                                    PROVINCIA
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="provincia_ar" maxlength="2" />
                            </li>
                        </ul>
                        </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <label class="flex-start">
                                    COMPLETAMENTO NOMINATIVO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplName}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="comp_nominativo_ar" />
                            </li>
                            <li>
                                <label class="flex-start">
                                    COMPLETAMENTO INDIRIZZO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplAddress}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="comp_indirizzo_ar" />
                            </li>
                            <li>
                                <label>CITTÀ</label>
                                <input type="text" formControlName="citta_ar" />
                            </li>
                            <li>
                                <label class="flex-start">
                                    STATO
                                    <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                                </label>
                                <input type="text" formControlName="stato_ar" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="group-button">
                <a routerLink="/invioSingoloRaccomandata2">INDIETRO</a>
                <input type="submit" value="AVANTI" />
            </div>

            <!-- ERRORE MOSTRATO SOLO DOPO SUBMIT -->
            <div *ngIf="alertMessage" class="alert-message">
                <span><i class='bx bxs-error color-orange'></i> {{ alertText }}</span> 
            </div>
            

        </form>
    </div>
</div>