<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Carica la lista dei destinatari</h1>
            <p class="mt-4 textsize-4">
                Importa la lista dei tuoi destinatari in formato .csv
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Raccomandata <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Invio multiplo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Invio multiplo {{bulletinText}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;">Configura raccomandata<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="generic-form">
        <div class="row">
            <div class="col-md-5">
                <h4>Carica una nuova lista <em>(in formato .csv come da esempio)</em></h4>
                <div class="file-upload">
                    <!-- AREA DRAG & DROP -->
                    <ngx-file-drop (onFileDrop)="onFileDrop($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            <div class="drop-zone" (click)="openFileSelector()">
                                Trascina qui il file o clicca per selezionarlo
                            </div>
                        </ng-template>
                    </ngx-file-drop>
    
                    <!-- BARRA DI CARICAMENTO -->
                    <div class="progress-container" *ngIf="uploadProgress !== null">
                        <div
                        class="progress-bar"
                        [style.width.%]="uploadProgress"
                        [ngClass]="{ 'completed': uploadProgress === 100 }"
                        >
                        {{ uploadProgress }}%
                        </div>
                    </div>
                </div>
                <a class="download-csv" [hidden]="bulletin" href="/assets/file-demo/file-demo-senza-bollettino.csv" target="_blank"><img src="/assets/img/icn-csv.png" alt=""> il file di esempio in formato .csv</a>
                <a class="download-csv" [hidden]="!bulletin" href="/assets/file-demo/file-demo-con-bollettino.csv" target="_blank"><img src="/assets/img/icn-csv.png" alt=""> il file di esempio in formato .csv</a>

                <div *ngIf="errorMessage" class="error mt-3">
                    {{ errorMessage }}
                </div>                    
                
            </div>
            <div class="col-md-7">
                <h4>Risultato caricamento <em> (lista destinatari presenti nel file .csv)</em></h4>

                <div class="result-upload">
                    <div class="result-upload__top">
                        <section (click)="getCheckRecipients(null)" [ngClass]="valid === null ? 'selected' : ''">
                            <img src="/assets/img/icn-nominativi.png" alt="Nominativi caricati"> Nominativi caricati:&nbsp;&nbsp;<strong>{{nominativiCaricati}}</strong>
                        </section>
                        <section (click)="getCheckRecipients(true)" [ngClass]="valid ? 'selected' : ''">
                            <img src="/assets/img/icn-validi.png" alt="Validi"> Validi:&nbsp;&nbsp;<strong>{{nominativiValidi}}</strong>
                        </section>
                        <section (click)="getCheckRecipients(false)" [ngClass]="valid === false ? 'selected' : ''">
                            <img src="/assets/img/icn-errori.png" alt="Errori"> Errori:&nbsp;&nbsp;<strong>{{nominativiInErrore}}</strong>
                        </section>
                    </div>
                    <ul>
                        <li>
                            <span>NOMINATIVO</span><span>VALIDO</span><span>TIPO DI ERRORE</span>
                        </li>
                        <li *ngFor="let r of checkRecipient" [ngClass]="r.valido ? '' : 'liError'" (click)="openModalWithData(editname, r)">
                            <span>{{r.recipient?.businessName}}</span><span>{{r.valido ? "SI" : "NO"}}</span><span class="error-upload">{{r.errore}}</span>
                        </li>
                        <div *ngIf="checkRecipient.length == 0 && !checking" class="no-upload">
                            nessun nominativo presente
                        </div>
                        <div *ngIf="checking" class="preloader">
                           <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <ng-template #editname>
        <div class="modal-header">
            <h4 class="modal-title flex-start">
                 Modifica il nominativo
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="currentModalRef.dismiss('Cross click')"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmitPopUpForm()">
            <div class="generic-form form-popup">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label class="flex-start">
                            RAGIONE SOCIALE
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right" ></i>
                        </label>
                        <input type="text" formControlName="rag_soc" value="EWT"/>
                    </div>
                    <div class="col-md-6">
                        <label class="flex-start">
                            COMPLETAMENTO NOMINATIVO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplName}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="compl_nom" value="CEO" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="flex-start">
                            INDIRIZZO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="compl_nom" value="VIA SCAFA, 30" />
                    </div>
                    <div class="col-md-6">
                        <label class="flex-start">
                            COMPLETAMENTO INDIRIZZO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplAddress}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="comp_indirizzo" value="NEL NULLA" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label class="flex-start">
                            CAP
                        </label>
                        <input type="text"
                            formControlName="cap"
                            maxlength="5"
                            [matAutocomplete]="autoCap"
                            class="custom-input" />

                        <mat-autocomplete #autoCap="matAutocomplete" (optionSelected)="setInputCityProvince($event)">
                            <mat-option *ngFor="let cap of filteredCAPs | async" [value]="cap">
                                {{ cap }}
                            </mat-option>                    
                        </mat-autocomplete>                                    
                    </div>
                    <div class="col-md-4">
                        <label class="flex-start">
                            CITTA'
                        </label>
                        <input type="text" formControlName="citta" readonly class="readonly" *ngIf="isOne"  />
                        <select formControlName="citta" *ngIf="!isOne" (change)="setProvince($event)" class="city">
                            <option value="">-- Seleziona una città --</option>
                                <option *ngFor="let option of comuniDaCap" [value]="option.denominazione_ita">
                                {{ option.denominazione_ita }}
                            </option>   
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="flex-start">
                            PROVINCIA
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="provincia" maxlength="2" readonly class="readonly"/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="flex-start">
                            STATO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="stato" readonly class="readonly" />
                    </div>
                    <div class="col-md-6">
                        <label class="flex-start">
                            FILE
                        </label>
                        <input type="text" formControlName="file" value="Preventivo29/2025.pdf" />
                    </div>
                </div>
                <div [hidden]="!bulletin">
                    <div class="row mt-3 mb-4">
                        <h5 class="title flex-start">
                            Campi bollettino
                        </h5>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="flex-start">
                                <label>NUMERO CONTO CORRENTE</label>
                            </label>
                            <input type="text" formControlName="conto_corrente" />
                        </div>
                        <div class="col-md-6">
                            <label class="flex-start">
                                ESEGUITO DA NOMINATIVO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertBollNominativo}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="eseguito_nominativo" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="flex-start">
                                <label>INTESTATO A</label>
                            </label>
                            <input type="text" formControlName="intestatario" />
                        </div>
                        <div class="col-md-6">
                            <label class="flex-start">
                                ESEGUITO DA INDIRIZZO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertBollIndirizzo}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="eseguito_indirizzo" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label class="flex-start">
                                <label>IMPORTO EURO</label>
                            </label>
                            <input type="number" formControlName="importo" />
                        </div>
                        <div class="col-md-4">
                            <label class="flex-start">
                                ESEGUITO DA LOCALITA'
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertBollLocalita}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="eseguito_localita" />
                        </div>
                        <div class="col-md-4">
                            <label class="flex-start">
                                CODICE CLIENTE
                            </label>
                            <input type="text" formControlName="codice_cliente" />
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input type="submit" class="button-save" value="SALVA" />
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row mt-3">              
                    <div class="col-lg-12 text-center">
                        <!-- ERRORE MOSTRATO SOLO DOPO SUBMIT -->
                        <div *ngIf="alertMessage" class="alert-message">
                            <span><i class='bx bxs-error color-orange'></i> {{ alertText }}</span> 
                        </div>
                    </div>
                </div> 
            </div>
            <input type="hidden" formControlName="tempGuid" />
        </form>
    </ng-template>

    <div class="row" [hidden]="notUploaded">
        <div class="col-md-12">
            <div class="msg-upload success">
                <i class='bx bx-check'></i>
                <h5>Il processo di caricamento della lista è terminato.</h5>
                <p>
                    Clicca su inserisci lista per salvare i nominativi validi oppure correggi gli errori evidenziati e ricarica la lista.
                </p>
            </div>
        </div>
    </div>

    <form [formGroup]="formFinale" (ngSubmit)="onSubmit()">
        <div class="group-button">
            <a routerLink="/invioMultiploRaccomandata2">INDIETRO</a>
            <input type="submit" value="AVANTI" [disabled]="checkRecipient.length <= 0" />
        </div>
    </form>
</div>