<div class="container">
    <div class="col-lg-12 text-center mt-3">
        <a routerLink="/"><img src="/assets/img/logo-login.svg" class="logo mt-5 mb-2"></a>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center mt-3">
            <img src="/assets/img/icn-reg-successfull.png" class="mt-5 mb-3 img-ok">
            <h1 class="mb-4">Complimenti!<br>Registrazione completata</h1>
            <p>Hai complatato la registrazione al portale.<br>
                Torna alla <a routerLink="/">home</a> e accedi inserendo email e password.</p>
        </div>
    </div>
</div>
