<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Carica il file .pdf</h1>
            <p class="mt-4 textsize-4">
                Effettua il caricamento del file in formato .pdf <br>
                che contiene la tua corrispondenza.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Lettera <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 11%;">Invio singolo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 18%;">Invio singolo  {{bulletin}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Configura lettera<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>
    <app-upload-file></app-upload-file>
</div>