<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Inserisci il mittente</h1>
            <p class="mt-4 textsize-4">
                Scegli un mittente dalla tua rubrica oppure inserisci manualmente <br>
                un nuovo nominativo compilando i campi richiesti.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 10%;">Telegramma <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">{{rr}} ricevuta di ritorno <i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>
    <app-select-sender></app-select-sender>
</div>