<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5 mb-5">
            <a routerLink="/"><img src="/assets/img/logo-login.svg" class="logo mt-5 mb-2"></a>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 text-center mt-4">
                    <h1>Non ricordi la password?</h1>
                    <p>Inserisci il tuo indirizzo email per recuperare<br> il tuo account.</p>
                </div>
                <div class="col-lg-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="forms">
                        <label>
                            <input type="email" formControlName="email" placeholder="Inserisci la tua email">
                        </label>
                        <div *ngIf="form.controls.email.invalid && form.controls.email.touched" class="error">
                            Email non valida
                        </div>
                        <label>
                           <button type="submit" [disabled]="form.invalid">Invia</button>
                        </label>
                        <div *ngIf="errorMessage" class="error">
                            {{ errorMessage }}
                        </div>
                        <div *ngIf="message" class="valid">
                            {{ message }}
                        </div>
                        <section class="text-center mt-3">
                            <label><a routerLink="/">Conosci la tua password? Torna al login</a></label>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>