<app-ui-tour-restart (restart)="restartTour()" />

<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h1>{{inserisciModificaText | capitalize }}  un utente</h1>
            <p class="mt-2 textsize-4">
                Compila i campi del form e {{inserisciModificaText }} un utente.
            </p>
        </div>
    </div>
</div>

<div class="contaienr-fluid">
    <div class="generic-form mt-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-8 step-1">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label>TIPOLOGIA <span class="required">*</span></label>
                            <select formControlName="userTypes" >
                                <option value="">-- Seleziona tipologia --</option>
                                <option value="2">Solo visualizzazione</option>
                                <option value="3">Visualizzazione e inserimento</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label>RAGIONE SOCIALE / NOME E COGNOME <span class="required">*</span></label>
                            <input type="text" formControlName="businessName" />
                        </div>
                        <div class="col-md-4">
                            <label>INDIRIZZO <span class="required">*</span></label>
                            <input type="text" formControlName="address" />
                        </div>
                        <div class="col-md-4">
                            <label>CITTÀ <span class="required">*</span></label>
                            <input type="text" formControlName="city" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label>CAP <span class="required">*</span></label>
                            <input type="text" formControlName="zipCode" />
                        </div>
                        <div class="col-md-4">
                            <label>PROVINCIA <span class="required">*</span></label>
                            <input type="text" formControlName="province" />
                        </div>
                        <div class="col-md-4">
                            <label>PEC</label>
                            <input type="text" formControlName="pec" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label>TELEFONO <span class="required">*</span></label>
                            <input type="phone" formControlName="mobile" />
                        </div>
                        <div class="col-md-4">
                            <label>EMAIL <span class="required">*</span></label>
                            <input type="email" formControlName="email" />
                        </div>
                        <div class="col-md-4">
                            <label>PASSWORD 
                                <span class="required">*</span>
                                <span *ngIf="!inserimento">(inserisci la password se vuoi cambiarla)</span>
                            </label>
                            <input type="password" formControlName="pwd" (input)="onPasswordInput()" />
                            <div *ngIf="password && showStrength" [ngClass]="getPasswordClass()">
                                Forza password: <strong>{{ FncUtils.checkPasswordStrength(password) }}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="required">* Campi obbligatori</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 step-end">
                    <h4 class="color-blue">SCEGLI I MITTENTI</h4>
                    <p class="textsize-6">Seleziona uno o più mittenti con cui l'utente potrà spedire o visualizzare le comunicazioni.</p>
                    <mat-selection-list class="sender-selection" (selectionChange)="onCheckboxChange($event)">
                        <mat-list-option *ngFor="let option of options" [value]="option.id" [selected]="selectedSenderIds.includes(option.id!)">
                            {{ option.businessName }}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>


            <div class="group-button">
                <input type="submit" value="SALVA" class="bg-color-green color-white" [disabled]="form.invalid || form.invalid || selectedOptions.length == 0" />
            </div>

            <!-- ERRORE MOSTRATO SOLO DOPO SUBMIT -->
            <app-ui-alert [visible]="alertMessage" [message]="alertText" />
            
            <input type="hidden" formControlName = "id">
        </form>
    </div>
</div>