<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Carica la lista dei destinatari</h1>
            <p class="mt-4 textsize-4">
                Importa la lista dei tuoi destinatari in formato .csv
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Lettera <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Invio multiplo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Invio multiplo con bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;">Configura lettera<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="generic-form">
        <div class="row">
            <div class="col-md-5">
                <h4>Carica una nuova lista <em>(in formato .csv come da esempio)</em></h4>
                <div class="file-upload">
                    <!-- AREA DRAG & DROP -->
                    <ngx-file-drop (onFileDrop)="onFileDrop($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <div class="drop-zone" (click)="openFileSelector()">
                            Trascina qui il file o clicca per selezionarlo
                        </div>
                        </ng-template>
                    </ngx-file-drop>
    
                    <!-- BARRA DI CARICAMENTO -->
                    <div class="progress-container" *ngIf="uploadProgress !== null">
                        <div
                        class="progress-bar"
                        [style.width.%]="uploadProgress"
                        [ngClass]="{ 'completed': uploadProgress === 100 }"
                        >
                        {{ uploadProgress }}%
                        </div>
                    </div>
                </div>
                <a class="download-csv" href="#"><img src="/assets/img/icn-csv.png" alt="">Scarica il file di esempio in formato .csv</a>
                
            </div>
            <div class="col-md-7">
                <h4>Risultato caricamento <em> (lista destinatari presenti nel file .csv)</em></h4>

                <div class="result-upload">
                    <div class="result-upload__top">
                        <section><img src="/assets/img/icn-nominativi.png" alt="Nominativi caricati"> Nominativi caricati:&nbsp;&nbsp;<strong>24</strong></section>
                        <section><img src="/assets/img/icn-validi.png" alt="Validi"> Validi:&nbsp;&nbsp;<strong>20</strong></section>
                        <section><img src="/assets/img/icn-errori.png" alt="Errori"> Errori:&nbsp;&nbsp;<strong>4</strong></section>
                    </div>
                    <ul>
                        <li>
                            <span>NOMINATIVO</span><span>VALIDO</span><span>TIPO DI ERRORE</span>
                        </li>
                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li class="error" (click)="openModal(editname)">
                            <span>Mario Rossi</span><span>SI</span><span>Errore validazione Stato</span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                        <li>
                            <span>Mario Rossi</span><span>SI</span><span></span>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
    
    <ng-template #editname>
        <div class="modal-header">
            <h4 class="modal-title flex-start">
            Modifica il nominativo
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="currentModalRef.dismiss('Cross click')"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="generic-form">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label class="flex-start">
                            RAGIONE SOCIALE
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right" ></i>
                        </label>
                        <input type="text" formControlName="rag_soc" value="EWT"/>
                    </div>
                    <div class="col-md-4">
                        <label class="flex-start">
                            NOME
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="nome" value="Domenici" />
                    </div>
                    <div class="col-md-4">
                        <label class="flex-start">
                            COGNOME
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="cognome" value="Carlini" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="flex-start">
                            COMPLETAMENTO NOMINATIVO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplName}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="compl_nom" value="CEO" />
                    </div>
                    <div class="col-md-6">
                        <label class="flex-start">
                            CODICE FISCALE
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="cod_fisc" value="DMCCRL29A16F666X" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="flex-start">
                            INDIRIZZO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="compl_nom" value="VIA SCAFA, 30" />
                    </div>
                    <div class="col-md-6">
                        <label class="flex-start">
                            COMPLETAMENTO INDIRIZZO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplAddress}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="comp_indirizzo" value="NEL NULLA" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label class="flex-start">
                            CAP
                        </label>
                        <input type="text" formControlName="cap" value="81100" />
                    </div>
                    <div class="col-md-4">
                        <label class="flex-start">
                            CITTA'
                        </label>
                        <input type="text" formControlName="citta"  value="CAIAZZO"/>
                    </div>
                    <div class="col-md-4">
                        <label class="flex-start">
                            PROVINCIA
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="provincia" maxlength="2" value="CE" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="flex-start">
                            STATO
                            <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                        </label>
                        <input type="text" formControlName="stato" value="ITALIA" />
                    </div>
                    <div class="col-md-6">
                        <label class="flex-start">
                            FILE
                        </label>
                        <input type="text" formControlName="file" value="Preventivo29/2025.pdf" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input type="submit" class="button-save" value="SALVA" />
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </form>
    </ng-template>

    <div class="group-button">
        <a routerLink="/invioMultiploLettera2">INDIETRO</a>
        <input type="submit" value="AVANTI" />
    </div>

</div>