<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Calcolo del preventivo</h1>
            <p class="mt-4 textsize-4">
                Clicca <strong class="color-green">"SPEDISCI"</strong> <br> 
                e la tua spedizione sarà presa in carico dai nostri sistemi.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar" [hidden]="!bulletin">
                <ul>
                    <li style="width: 12%;">{{ productName | titlecase }} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;">Invio {{tipoInvio}} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 18%;">Invio {{tipoInvio}} {{bulletinw}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 16%;">Configura {{productName}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 8%;">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 8%;">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;">Carica file .pdf<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 12%;">Compila bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>

            <div class="step-bar no-bollettino" [hidden]="bulletin">
                <ul>
                    <li style="width: 12%;">{{ productName | titlecase }} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 11%;">Invio {{tipoInvio}} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 20%;">Invio {{tipoInvio}} {{bulletinw}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 14%;">Configura {{productName}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 12%;">Carica file .pdf<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="preventivo">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Riepilogo dell'ordine</h3>
                <p>
                    <em>
                        N.B. Il calcolo del preventivo basato sul listino di Poste Italiane è da considerarsi solo indicativo, <br>
                        e verrà confermato in sede di fatturazione.
                    </em>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <span>Invii totali</span> <strong>{{Inviitotali}}</strong>
                    </li>
                    <li>
                        <span>Tipo stampa</span> <strong>{{tipoColore}}</strong>
                    </li>
                    <li>
                        <span>Fronte/retro</span> <strong>{{fronteRetro}}</strong>
                    </li>
                    <li [hidden]="productType != 1">
                        <span>Ricevuta di ritorno</span> <strong>{{ricevutaRitorno}}</strong>
                    </li>
                    <li [hidden]="ifIsCalcolable">
                        <span>Importo</span> <span class="error">Calcolato sulla base del listino associato</span>
                    </li>
                    <li [hidden]="!ifIsCalcolable">
                        <span>Importo netto</span> <strong>€ {{ImportoNetto}}</strong>
                    </li>
                    <li [hidden]="!ifIsCalcolable">
                        <span>Iva 22%</span> <strong>€ {{Iva}}</strong>
                    </li>
                    <li [hidden]="!ifIsCalcolable">
                        <span>TOTALE</span> <strong class="color-orange">€ {{totale}}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
            <div *ngIf="errorMessage" class="error text-center col-md-12 mt-3">
                {{errorMessage}}
            </div>
        </div>
   </div>

    <div class="group-button">
        <a [routerLink]="routerLink">INDIETRO</a>
        <a (click)="sendShipping()" [hidden]="send" class="bg-color-green color-white">SPEDISCI</a>
        <a [hidden]="!send" class="bg-color-green color-white"><i class="fas fa-spinner fa-spin"></i></a>
    </div>


</div>