<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5 mb-5">
            <a routerLink="/"><img src="/assets/img/logo-login.svg" class="logo mt-5 mb-2"></a>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 text-center mt-4">
                    <h1>Nuova password?</h1>
                    <p>Inserisci la nuova password per accedere, nuovamente, al portale.</p>
                </div>
                <div class="col-lg-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="forms">
                        <label>
                            <input type="password" formControlName="password" placeholder="Password" [(ngModel)]="password">
                        </label>
                        <div *ngIf="form.controls.password.invalid && form.controls.password.touched" class="error">
                            Password obbligatoria
                        </div>
                        <label>
                           <button type="submit" [disabled]="form.invalid || passwordStrength !== 'forte'">Invia</button>
                        </label>
                        <div *ngIf="errorMessage" class="error">
                            {{ errorMessage }}
                        </div>
                        <div *ngIf="message" class="valid">
                            {{ message }}
                        </div>
                        <p *ngIf="password && showStrength" [ngClass]="getPasswordClass()">
                            Forza password: <strong>{{ FncUtils.checkPasswordStrength(password) }}</strong>
                        </p>

                        <label class="text-center mt-3"><a routerLink="/">Conosci la tua password? Torna al login</a></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>