  <div class="modal-header">
    <h4 class="modal-title flex-start">
      Informativa spedizione
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="info-spedizione__top">
        <ul>
            <li>
                <strong>NOME CLIENTE</strong>
            </li>
            <li>
                <span class="color-blue">{{modalData.sender.businessName}}</span>
            </li>
        </ul>
        <ul>
            <li>
                <strong>CODICE SPEDIZIONE</strong>
            </li>
            <li>
                <span class="color-blue">{{modalData.recipient.code}}</span>
            </li>
        </ul>
                <ul>
            <li>
                <strong>DESTINATARIO</strong>
            </li>
            <li>
                <span class="color-blue">{{modalData.recipient.businessName}}</span>
            </li>
        </ul>
    </div>

    <div class="info-spedizione__main">
        <ul>
            <li>
                DATA E ORA
            </li>
            <li>
                STATO LAVORAZIONE
            </li>
        </ul>
        <ul>
            <li>
                <strong>{{getDate(modalData.recipient.insertDate!)}}</strong>
            </li>
            <li>
                <span>CARICAMENTO SUL PORTALE</span>
            </li>
        </ul>
        <ul>
            <li>
                <strong>{{getDate(modalData.recipient.insertDate!)}}</strong>
            </li>
            <li>
                <span>PRESA IN CARICO</span>
            </li>
        </ul>
        <ul *ngFor="let item of modalData?.historicRecipientStatuses">
            <li>
                <strong>{{getDate(item.insertDate)}}</strong>
            </li>
            <li>
                <span>{{item.message?.toUpperCase()}}</span>
            </li>
        </ul>
    </div>
    
  </div>
