<app-ui-tour-restart (restart)="restartTour()" />


<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Carica file e spedisci </h1>
            <p class="mt-4 textsize-4">
                Carica i file pdf con la tua corrispondenza in un archivio .zip <br>
                ed effettua la spedizione delle tue raccomandate.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Raccomandata <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Invio multiplo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Invio multiplo {{bulletin}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;">Configura raccomandata<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;">Carica lista destinatari<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <app-upload-zip [recipients] = "recipients"  (checkRecipient)="onCheckRecipientChanged($event)" *ngIf="loaded"></app-upload-zip>
    
        <div class="group-button step-end">
            <a routerLink="/invioMultiploRaccomandata3">INDIETRO</a>
            <input type="submit" value="AVANTI" [disabled]="!hasValidRecipients" />
        </div>
    
    </form>
    
</div>