<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Inserisci il destinatario</h1>
            <p class="mt-4 textsize-4">
                Compila i campi obbligatori e inserisci il destinatario <br>
                della raccomandata.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Raccomandata <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 11%;">Invio singolo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 18%;">Invio singolo {{bulletin}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Configura raccomandata<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>
    <app-select-recipient></app-select-recipient>
</div>