<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h1>Archivio Visure/Certificati</h1>
            <p class="mt-2 mb-4 textsize-4">
                In questa sezione troverai tutte le informazioni storiche sulle richieste di visure e certificati effettuate in ordine cronologico.
            </p>
        </div>
    </div>
</div>


<div class="filter">
    <form [formGroup]="form" (ngSubmit)="filterResults()">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label>DATA INIZIO</label>
                    <input type="date" formControlName="start_date" />
                </div>
                <div class="col-md-3">
                    <label>DATA FINE</label>
                    <input type="date" formControlName="end_date" />
                </div>
                <div class="col-md-3">
                    <label>CODICE CF/P.IVA</label>
                    <input type="text" formControlName="piva" />
                </div>
                <div class="col-md-3">
                    <label>INTESTATARIO</label>
                    <input type="text" formControlName="nominativo" />
                </div>
                <div class="col-md-9">
                    <input type="button" value="X Rimuovi filtri" name="reset" (click)="filterRemove()">
                </div>
                <div class="col-md-3">
                    <input type="submit" name="search" value="CERCA">
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table mat-table [dataSource]="dataSource" matSort class="mat-table">


                    <!-- Colonna Prodotto -->
                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> prodotto </th>
                        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                    </ng-container>


                    <!-- Colonna Richiedente -->
                    <ng-container matColumnDef="sender">
                        <th mat-header-cell *matHeaderCellDef > richiedente </th>
                        <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
                    </ng-container>

                    <!-- Colonna Intestatario -->
                    <ng-container matColumnDef="businessName">
                        <th mat-header-cell *matHeaderCellDef > Intestatario </th>
                        <td mat-cell *matCellDef="let element"> {{element.businessName}} </td>
                    </ng-container>

                    <!-- Colonna CF/PIVA -->
                    <ng-container matColumnDef="vat">
                        <th mat-header-cell *matHeaderCellDef > CF/P.IVA </th>
                        <td mat-cell *matCellDef="let element"> {{element.vat}} </td>
                    </ng-container>

                    <!-- Colonna ESITO -->
                    <ng-container matColumnDef="valid">
                        <th mat-header-cell *matHeaderCellDef > ESITO </th>
                        <td mat-cell *matCellDef="let element"> {{element.valid ? "OK": "KO"}} </td>
                    </ng-container>

                    <!-- Colonna ACCETTAZIONE -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef > ACCETTAZIONE </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <!-- Colonna prezzo -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef > prezzo € </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <!-- Colonna CODICE -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef > CODICE </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>

                    <!-- Colonna STATO -->
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef > STATO </th>
                        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                    </ng-container>

                    <!-- Colonna Azioni -->
                    <ng-container matColumnDef="doc">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> documento </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-button class="mat-button-download"><i class='bx bxs-file-pdf' ngbTooltip="{{infoBtnDownload}}" placement="left"></i></button>
                    </td>
                    </ng-container>

                    <!-- Header e righe -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>                            
                                
              
            </table>
              
            <mat-paginator [hidden]="!dataSource.data || dataSource.data.length === 0"
                [length]="totalRecords"
                [pageSize]="constPageSize"
                [pageSizeOptions]="[5, 10, 25, 50]"
                showFirstLastButtons>
            </mat-paginator>

            <div *ngIf="!dataSource.data || dataSource.data.length === 0" class="text-center">
                Nessun dato disponibile.
            </div>

        </div>
    </div>
</div>