<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h1>Archivio Visure/Certificati</h1>
            <p class="mt-2 mb-4 textsize-4">
                In questa sezione troverai tutte le informazioni storiche sulle richieste di visure e certificati effettuate in ordine cronologico.
            </p>
        </div>
    </div>
</div>


<div class="filter">
    <form [formGroup]="form">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label>DATA INIZIO</label>
                    <input type="date" formControlName="start_date" />
                </div>
                <div class="col-md-3">
                    <label>DATA FINE</label>
                    <input type="date" formControlName="end_date" />
                </div>
                <div class="col-md-3">
                    <label>CODICE CF/P.IVA</label>
                    <input type="text" formControlName="piva" />
                </div>
                <div class="col-md-3">
                    <label>INTESTATARIO</label>
                    <input type="text" formControlName="nominativo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>PRODOTTO</label>
                    <select name="prodotto">
                        <option value="">-- SELEZIONA PRODOTTO --</option>
                        <option value="visura">VISURA</option>
                        <option value="certificato">CERTIFICATO</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>ESITO</label>
                    <select name="esito">
                        <option value="">-- ESITO --</option>
                        <option value="ok">OK</option>
                        <option value="errore">ERRORE</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="submit" name="search" value="CERCA">
                </div>
                <div class="col-md-3">
                    <input type="submit" name="export" value="ESPORTA CSV">
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table mat-table [dataSource]="dataSource" matSort class="mat-table">


                    <!-- Colonna Prodotto -->
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> prodotto </th>
                        <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                    </ng-container>


                    <!-- Colonna Richiedente -->
                    <ng-container matColumnDef="receiver">
                        <th mat-header-cell *matHeaderCellDef > richiedente </th>
                        <td mat-cell *matCellDef="let element"> {{element.receiver}} </td>
                    </ng-container>

                    <!-- Colonna Intestatario -->
                    <ng-container matColumnDef="owner">
                        <th mat-header-cell *matHeaderCellDef > Intestatario </th>
                        <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
                    </ng-container>

                    <!-- Colonna CF/PIVA -->
                    <ng-container matColumnDef="piva">
                        <th mat-header-cell *matHeaderCellDef > CF/P.IVA </th>
                        <td mat-cell *matCellDef="let element"> {{element.piva}} </td>
                    </ng-container>

                    <!-- Colonna ESITO -->
                    <ng-container matColumnDef="result">
                        <th mat-header-cell *matHeaderCellDef > ESITO </th>
                        <td mat-cell *matCellDef="let element"> {{element.result}} </td>
                    </ng-container>

                    <!-- Colonna ACCETTAZIONE -->
                    <ng-container matColumnDef="acceptance">
                        <th mat-header-cell *matHeaderCellDef > ACCETTAZIONE </th>
                        <td mat-cell *matCellDef="let element"> {{element.acceptance}} </td>
                    </ng-container>

                    <!-- Colonna prezzo -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef > prezzo € </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <!-- Colonna CODICE -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef > CODICE </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>

                    <!-- Colonna STATO -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef > STATO </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <!-- Colonna Azioni -->
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> documento </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-button class="mat-button-download"><i class='bx bxs-file-pdf' ngbTooltip="{{infoBtnDownload}}" placement="left"></i></button>
                    </td>
                    </ng-container>

                    <!-- Header e righe -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>                            
                                
              
            </table>
              
              <!-- Paginazione -->
              <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

        </div>
    </div>
</div>