<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Spedizione presa in carico</h1>
            <p class="mt-4 textsize-4">
                Abbiamo preso in carico la tua spedizione. <br>
                Controlla nell'area <strong>"STATO INVII"</strong> l'avanzamento degli invii.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar" [hidden]="!bulletin || !isTelegram">
                <ul>
                    <li style="width: 10%;" class="bg-color-green">{{ productName | titlecase }} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;" class="bg-color-green">Invio {{tipoSpedizione}} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 16%;" class="bg-color-green">Invio {{tipoSpedizione}} con bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 14%;" class="bg-color-green">Configura {{productName}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 8%;"  class="bg-color-green">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 8%;"  class="bg-color-green">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;"  class="bg-color-green">Carica file .pdf<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 12%;" class="bg-color-green">Compila bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 13%;" class="bg-color-green">Preventivo e spedizione</li>
                </ul>
            </div>

            <div class="step-bar no-bollettino" [hidden]="bulletin || !isTelegram">
                <ul>
                    <li style="width: 12%;" class="bg-color-green">{{ productName | titlecase }} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 12%;" class="bg-color-green">Invio {{tipoSpedizione}} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 16%;" class="bg-color-green">Invio {{tipoSpedizione}} senza bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;" class="bg-color-green">Configura {{productName}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;"  class="bg-color-green">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;"  class="bg-color-green">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;"  class="bg-color-green">Carica file .pdf<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;" class="bg-color-green">Preventivo e spedizione</li>
                </ul>
            </div>

            <div class="step-bar no-bollettino" [hidden]="isTelegram">
                <ul>
                    <li style="width: 12%;" class="bg-color-green">{{ productName | titlecase }} <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 11%;" class="bg-color-green">Invio singolo<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 18%;" class="bg-color-green">{{rrTelegramma}} ricevuta di ritorno<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 20%;" class="bg-color-green">Configura {{productName}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 13%;" class="bg-color-green">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 13%;" class="bg-color-green">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 13%;" class="bg-color-green">Preventivo e spedizione</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="riepilogo-spedizione">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Riepilogo spedizione</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <span>Lotto</span> <strong>{{numeroLotto}}</strong>
                    </li>
                    <li>
                        <span>Destinatari</span> <strong>{{numeroDestinatari}}</strong>
                    </li>
                    <li>
                        <span>Data di creazione</span> <strong>{{dataCreazione}}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="group-button">
        <a [routerLink] = "ffwLink" class="bg-color-blue color-white">VAI ALLO STATO INVII</a>
    </div>


</div>