<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Spedizione presa in carico</h1>
            <p class="mt-4 textsize-4">
                Abbiamo preso in carico la tua spedizione. <br>
                Controlla nell'area <strong>"STATO INVII"</strong> l'avanzamento degli invii.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 10%;" class="bg-color-green">Raccomandata <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 10%;" class="bg-color-green">Invio singolo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 16%;" class="bg-color-green">Invio singolo con bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 14%;" class="bg-color-green">Configura raccomandata<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 8%;"  class="bg-color-green">Mittente<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 8%;"  class="bg-color-green">Destinatario<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;"  class="bg-color-green">Carica file .pdf<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 12%;" class="bg-color-green">Compila bollettino<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 13%;" class="bg-color-green">Preventivo e spedizione</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="riepilogo-spedizione">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Riepilogo spedizione</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <span>Lotto</span> <strong>435785</strong>
                    </li>
                    <li>
                        <span>Destinatari</span> <strong>1</strong>
                    </li>
                    <li>
                        <span>Data di creazione</span> <strong>17/04/2025 12:06:19</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="group-button">
        <a routerLink="/riepilogoSpedizione" class="bg-color-blue color-white">VAI ALLO STATO INVII</a>
    </div>


</div>