<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h1>Inserisci un nuovo destinatario alla lista</h1>
            <p class="mt-2 textsize-4">
                Compila i campi del form per inserire un nuovo destinatario nella rubrica.
            </p>
        </div>
    </div>
    <div class="generic-form mt-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="flex-start">
                        RAGIONE SOCIALE
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="rag_soc" />
                </div>
                <div class="col-md-4">
                    <label class="flex-start">
                        NOME
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName2}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="nome" />
                </div>
                <div class="col-md-4">
                    <label class="flex-start">
                        COGNOME
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName2}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="cognome" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <label class="flex-start">
                        COMPLETAMENTO NOMINATIVO
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplName}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="comp_nominativo" />
                </div>
                <div class="col-md-6">
                    <label class="flex-start">
                        CODICE FISCALE
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{infoCodiceFiscale}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="cod_fisc" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="flex-start">
                        INDIRIZZO
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="indirizzo" />
                </div>
                <div class="col-md-4">
                    <label class="flex-start">
                        COMPLETAMENTO INDIRIZZO
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplAddress}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="comp_indirizzo" />
                </div>
                <div class="col-md-4">
                    <label>CAP</label>
                    <input type="text" formControlName="cap" maxlength="5" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>CITTÀ</label>
                    <input type="text" formControlName="citta" />
                </div>
                <div class="col-md-4">
                    <label class="flex-start">
                        PROVINCIA
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="provincia" maxlength="2" />
                </div>
                <div class="col-md-4">
                    <label class="flex-start">
                        STATO
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                    </label>
                    <input type="text" formControlName="stato" />
                </div>
            </div>

            <div class="group-button">
                <input type="submit" value="SALVA" class="bg-color-green color-white" />
            </div>

            <!-- ERRORE MOSTRATO SOLO DOPO SUBMIT -->
            <div *ngIf="alertMessage" class="alert-message">
                <span><i class='bx bxs-error color-orange'></i> {{ alertText }}</span> 
            </div>
            

        </form>
    </div>
</div>