@use '../../../variables' as *;

h1{
    font-family: $font-stack;
    color: $primary-color;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

p{
    margin-bottom: 20px;
}

.logo{
    width: 250px;
}

.last-label{
    margin-top: -10px;
}

.spin{
    i{
        font-size: 20px;
    }
}

.password-field {
  position: relative;
  display: block;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.password-field i {
  position: relative;
  left: 18px;
  top: 43%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.password-toggle {
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
  background: #f5f5f5;
  width: 55px;
  height:calc(100% - 2px);
  border-left: 1px solid #BFBFBF;
}