<div class="nuova-spedizione">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-5">
                <h1>Effettua una nuova spedizione</h1>
                <p class="mt-4 textsize-4">
                    Scegli il tipo di spedizione che desideri effettuare dal menu qui sotto:<br>
                    lettere, raccomandate, telegrammi, atti giudiziari o visure.<br>
                    Bastano pochi clic per inviare la tua corrispondenza in modo semplice e veloce.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-2"></div>
            <div class="col-md-6 col-sm-8">
                <h3>Scegli un prodotto</h3>
                <ul>
                    <li>
                        <a routerLink="/tipoSpedizioneRaccomandata">
                            <span>
                                <img src="/assets/img/icn-raccomandata-send.png" alt="raccomandata">RACCOMANDATA
                            </span>
                            <img src="/assets/img/icn-circle-right.png">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/tipoSpedizioneLettera">
                            <span>
                                <img src="/assets/img/icn-lettera-send.png" alt="lettera">LETTERA
                            </span>
                            <img src="/assets/img/icn-circle-right.png">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="/assets/img/icn-telegramma-send.png" alt="telegramma">TELEGRAMMA
                            </span>
                            <img src="/assets/img/icn-circle-right.png">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/tipoSpedizioneAgol">
                            <span>
                                <img src="/assets/img/icn-atto-send.png" alt="atto">ATTO GIUDIZIARIO
                            </span>
                            <img src="/assets/img/icn-circle-right.png">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="/assets/img/icn-visura-send.png" alt="visura certificato">VISURA/CERTIFICATO
                            </span>
                            <img src="/assets/img/icn-circle-right.png">
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-2"></div>
        </div>
    </div>
</div>
