<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h1>Scarica i file di esempio</h1>
            <p class="mt-2 textsize-4 mt-3 mb-4">
                Di seguito una lista di file CSV da utilizzare durante l'upolad di destinatari per gli invii multipli
            </p>
        </div>
    </div>
    
    <div class="file-list">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="/assets/file-demo/DestinatariSenzaBollettini.csv">
                            <span>1. Lista di destinatari per invio Lettere/Raccomandate SENZA bollettino</span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                    <li>
                        <a href="/assets/file-demo/DestinatariConBollettini.csv">
                            <span>2. Lista di destinatari per invio Lettere/Raccomandate CON bollettino</span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                    <li>
                        <a href="/assets/file-demo/DestinatariVisureCertificati.csv">
                            <span>3. Lista di intestatari per Visure/Certificati </span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                    <li>
                        <a href="/assets/file-demo/DestinatariSenzaBollettiniAtti.csv">
                            <span>4. Lista di destinatari per AGOL SENZA bollettino</span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="/assets/file-demo/DestinatariConBollettiniAtti.csv">
                            <span>5. Lista di destinatari per AGOL CON bollettino </span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                    <li>
                        <a href="/assets/file-demo/stati-stranieri.csv">
                            <span>7. Lista di stati esteri </span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                    <li>
                        <a href="/assets/file-demo/comuni-italiani.csv">
                            <span>8. Lista di comuni italiani </span>
                            <i class='bx bx-down-arrow-alt'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>