<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Carica file e spedisci </h1>
            <p class="mt-4 textsize-4">
                Carica i file pdf con la tua corrispondenza in un archivio .zip <br>
                ed effettua la spedizione delle tue raccomandate.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Lettera <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Invio multiplo <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 17%;">Invio multiplo {{bulletin}}<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;">Configura lettera<i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 15%;">Carica lista destinatari<i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <app-upload-zip [recipients] = "recipients"  (checkRecipient)="onCheckRecipientChanged($event)"></app-upload-zip>
  
        <div class="group-button">
            <a routerLink="/invioMultiploLettera3">INDIETRO</a>
            <input type="submit" value="AVANTI" [disabled]="!hasValidRecipients" />
        </div>
    
        </form>
    
</div>