<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-5">
            <h1>Scegli il tipo di comunicazione</h1>
            <p class="mt-4 textsize-4">
                Scegli se la raccomandata deve essere corredata di bollettino.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="step-bar">
                <ul>
                    <li style="width: 12%;">Raccomandata <i class='bx bxs-right-arrow-alt'></i></li>
                    <li style="width: 9%;">Invio multiplo <i class='bx bxs-right-arrow-alt'></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <app-selection-with-without-bulletin [tipoInvio] = "tipoInvio"></app-selection-with-without-bulletin>
        </div>
    </div>


</div>