@use '../../variables' as *;




.container-header{
    width: 100%;
    height: 70px;
    padding:0;
    background:#FFFFFF;
    border-bottom: 1px solid $border-color;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    position: fixed;
    z-index: 999;
  }

  .scroll-down .container-header{
    padding:0px 30px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
  }
  
  .header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo{

    img{
        width: 60px;
    }

  }

  
   
  .header__menu {

    li{
        position:relative;
        display: inline-block;
        padding:0 45px 0 0;
    }

    li ul{
        width: 300px;
        top: 40px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all .3s cubic-bezier(.215, .61, .355, 1);
        background:rgba(255, 255, 255, 1);
        padding:30px;
        font-size: 0.9rem;
        box-shadow: 0px 3px 15px rgba(0,0,0,.08);
        border: 1px solid $border-color;
      }

    li ul li{
    width: 100%;
    padding:0 0 10px 10px;
    position: relative;
    }
    
    li ul li:after{
        content: " ";
        position: absolute;
        top:6px;
        left: -2px;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background:$primary-color;
    }
    
    li:hover > ul{
        visibility: visible;
        opacity: 1;
        transition: all .3s cubic-bezier(.215, .61, .355, 1);
    }
    
    li a{
    position: relative;
    }
    
    li.has-chid > a:after{
        content: " ";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 5px;
        right:-16px;
        background: url(/assets/img/arrow-down.png) no-repeat center center;
        background-size: 100%;
    }

    
  }
  
  @media (max-width: 1366px) {

    .header__menu li{
      font-size: 0.9rem;
    }

    .header__quick .welcome{
      font-size: 0.9rem;
    }
    
  }


  @media (max-width: 1280px) {

    .header__menu li{
      font-size: 1rem;
    }

    .header__quick .welcome{
      display: none;
    }
    
  }


  .scroll-down .header__menu li ul{
    top: 59px;
  }
  
  
  .header{

    a{
    color:#333333;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    }

    a:hover, a:active{
        color:$primary-color;
        cursor: pointer;
      }

  }
  
  
.header__quick{
    height: 100%;
    padding-top: 10px;

    li{
        display: inline-block;
        position: relative;
        padding:0 15px 0 0;

        &:last-child{
            padding: 0px;
        }

      }

      img{
        transition: all .3s cubic-bezier(.215, .61, .355, 1);
        
        &:hover{
            opacity:.85;
        }
      }
}


.side-menu{
    width: 400px;
    height: 100vh;
    position:fixed;
    padding:15px 20px;
    right:-400px;
    background-color:$background-color;
    z-index: 9999;
    box-shadow: -2px 0px 18px rgba(0,0,0,.20);
    transition: all .3s cubic-bezier(.215, .61, .355, 1);

}

.side-menu.open {
    right: 0;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
  }

.side-menu.close {
    right: -400px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
  }

.close-menu{
    width: 100%;
    text-align: right;
    font-size: 40px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

.menu-overlay{
  position:absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,.6);
  z-index: 9998;
  visibility:hidden;
}

.menu-overlay.visible{
  visibility: visible;
}

.menu-overlay.hidden{
  visibility: hidden;
}

.header__user{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
    border-bottom: 1px dashed $border-color;

    img{
      width: 60px;
    }

    h3{
      font-size: 1.2rem;
    }

}

.user-menu{
    font-size: 14px;
    font-weight: 600;

    li{
        margin-bottom: 6px;
    }

    a{
      color: $primary-color;

      &:hover{
        color: $secondary-color;
      }
    }
}


main{
    padding-top: 70px;
    min-height: calc(100vh + 40px);
}


footer{
    width: 100%;
    height: 76px;
    padding:0 15px;
    background-color: $white-color;
    box-shadow: -5px 0 15px rgba(0,0,0,.10);
    color: $secondary-color;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 190px;
        margin-right: 15px;
    }

}


.unsupported-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:$white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;

  img{
    width:360px;
  }

  .unsupported-message {
    max-width: 100%;

    h2{
      margin:15px 0; 
      font-weight: $font-semi-bold;
      color: $red-color;
    }
  }
}


.label-support{
  width: 280px;
  height: 50px;
  background-color: $orange-color;
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0;
  margin-top: -50px;
  border-radius: 15px 0 0 0;
  cursor: pointer;
  transition: all .3s cubic-bezier(.215, .61, .355, 1);

  &:hover{
    height: 60px;
    margin-top: -60px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
  }

  img{
    width: 30px;
    margin-right: 10px;
  }

  span{
    font-size: 1rem;
    font-weight: $font-semi-bold;
  }
}

.modal-support > .generic-form > .row{
  border-bottom: 0px none!important;
}

.modal-support > .generic-form{
  padding: 0px;
}


.modal-support > .generic-form p{
  width: 100%;
  font-size: 0.9rem;
  font-weight: $font-medium;
  border-bottom: 1px solid $grey-light;
  padding-bottom: 15px;
  color: $primary-color;
}