    <div class="generic-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <section class="select-form-type">
                        <span>Seleziona un destinatario dalla rubrica</span>
                        <select formControlName="sel_destinatario" (change)="setFormRecipientUser()">
                            <option value="" selected>-- Seleziona destinatario dalla rubrica --</option>
                             <option *ngFor="let option of userRecipients" [value]="option.id">
                                {{ option.businessName }}
                            </option>      
                        </select>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="select-form-type">
                        <span>Spedizione italia o estero</span>
                        <select formControlName="sel_spedizione" (change)="onStatoChange($event)">
                            <option value="Italia">Italia</option>
                            <option value="Estero">Estero</option>
                        </select>
                    </section>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center color-blue mt-4 mb-5">Compila i campi per inserire i dati del destinatario</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <label class="flex-start">
                                NOMINATIVO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertName}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="nominativo" />
                        </li>
                        <li>
                            <label class="flex-start">
                                INDIRIZZO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertAddress}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="indirizzo" />
                        </li>
                        <li>
                            <label>CAP</label>
                            <input type="text"
                                formControlName="cap"
                                maxlength="5"
                                [matAutocomplete]="autoCap"
                                class="custom-input" />

                            <mat-autocomplete #autoCap="matAutocomplete" (optionSelected)="setInputCityProvince($event)">
                            <mat-option *ngFor="let cap of filteredCAPs | async" [value]="cap">
                                {{ cap }}
                            </mat-option>
                            </mat-autocomplete>                                    
                        </li>
                        <li>
                            <label class="flex-start">
                                PROVINCIA
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertProvince}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="provincia" maxlength="2"  [readonly]="ifItalia" [class.readonly]="ifItalia" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <label class="flex-start">
                                COMPLETAMENTO NOMINATIVO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplName}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="comp_nominativo" />
                        </li>
                        <li>
                            <label class="flex-start">
                                COMPLETAMENTO INDIRIZZO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertComplAddress}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="comp_indirizzo" />
                        </li>
                        <li>
                            <label>CITTÀ</label>
                            <input type="text" formControlName="citta" [readonly]="ifItalia" [class.readonly]="ifItalia" *ngIf="isOne"  />
                            <select formControlName="citta" *ngIf="!isOne" (change)="setProvince($event)" class="city">
                                <option value="">-- Seleziona una città --</option>
                                 <option *ngFor="let option of comuniDaCap" [value]="option.denominazione_ita">
                                    {{ option.denominazione_ita }}
                                </option>   
                            </select>
                        </li>
                        <li>
                            <label class="flex-start">
                                STATO
                                <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertState}}" placement="right"></i>
                            </label>
                            <input type="text" formControlName="stato" [readonly]="ifItalia" [class.readonly]="ifItalia" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label class="flex-start">
                        EMAIL
                        <i class='bx bxs-info-square color-blue' ngbTooltip="{{alertMailDest}}" placement="right"></i>
                    </label>
                    <input type="email" formControlName="email" />
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <label for="addRecipient" class="flex-start">
                        <input type="checkbox" formControlName="addRecipient" id="addRecipient">&nbsp;&nbsp;Aggiungi destinatario alla rubrica
                    </label>

                </div>
                <div class="col-md-2"></div>
            </div>


            <div class="group-button">
                <a [routerLink] ="backLink">INDIETRO</a>
                <input type="submit" value="AVANTI" />
            </div>

            <!-- ERRORE MOSTRATO SOLO DOPO SUBMIT -->
            <div *ngIf="alertMessage" class="alert-message">
                <span><i class='bx bxs-error color-orange'></i> {{ alertText }}</span> 
            </div>
            

        </form>
    </div>
