@use '../../../../variables' as *;

.link-table{
    width: 100%;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: $font-medium;

    a{
        margin-right: 15px;
    }

    i{
        font-size: 1.4rem;
    }
}

.info-spedizione__top{
    width: 100%;
    border: 1px solid $grey-light;

    ul{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content:start;
        border-bottom: 1px solid $grey-light;

        &:last-child{
            border-bottom: 0px;
        }

        li{
            height: 100%;
            display: flex;
            align-items: center!important;
            justify-content: start;
            margin-top: 10px;
        }

        li:nth-child(1){
            width: 40%;
            border-right: 1px solid $grey-light;

            strong{
                font-weight: $font-medium;
            }
        }

        li:nth-child(2){
            width: 60%;

            span{
                text-align: left!important;
            }
        }
    }

    
}


.info-spedizione__main{
    width: 100%;
    font-size: 0.9rem;
    margin-top: 20px;

    ul{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content:start;

        &:nth-child(1){
            background-color: $primary-color!important;
            color: $white-color!important;
        }

        &:nth-child(even){
            background-color: #F2F2F2;
        }
        &:nth-child(odd){
            background-color: #F9F9F9;
        }


        li{
            height: 100%;
            display: flex;
            align-items: center!important;
            justify-content: start;
            margin-top: 10px;
        }

        li:nth-child(1){
            width: 40%;
            border-right: 4px solid #FFF;

            strong{
                font-weight: $font-medium;
            }
        }

        li:nth-child(2){
            width: 60%;

            span{
                text-align: left!important;
                font-size: 0.8rem;
            }
        }
    }

}