<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h3 class="mb-4">Dettaglio lotto <strong class="color-blue">72431</strong></h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="dettaglio-lotto">
                <ul>
                    <li>
                        <h5>CODICE SPEDIZIONE</h5>
                        <h6 class="color-blue">COD. 72431</h6>
                    </li>
                    <li>
                        <h5>PRODOTTO POSTALE</h5>
                        <h6 class="color-blue">ROL</h6>
                    </li>
                    <li>
                        <h5>NUMERO DI DESTINATARI</h5>
                        <h6 class="color-blue">24</h6>
                    </li>
                    <li>
                        <h5>DATA DI CREAZIONE</h5>
                        <h6 class="color-blue">30/04/2025 10:59:41</h6>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dettaglio-lotto">
                <ul>
                    <li>
                        <h5>PREZZO NETTO</h5>
                        <h6>€ 105.60</h6>
                    </li>
                    <li>
                        <h5>IVA 22%</h5>
                        <h6>€ 0.00</h6>
                    </li>
                    <li>
                        <h5>COSTO TOTALE</h5>
                        <h6 class="color-orange">€ 105.60</h6>
                    </li>
                </ul>
            </div>
            <div class="dettaglio-lotto__button">
                <button><i class='bx bxs-download'></i> Scarica la distinta</button>
                <button><i class='bx bxs-file-export' ></i> Richiedi l'export massivo STATI</button>
            </div>
        </div>
    </div>
</div>