@use '../../../../variables' as *;

.wait{
    color: #567FC5;
    opacity: 0.8;
    
}

.search{
    background-color: $primary-color;
    width: 100%;
    height: 38px;
    float: left;
    color: $white-color;
    border: 0;
    padding: 5px 0;
    margin-top: 25px;
    font-size: 14px;

    .fa-spinner{
        font-size: 16px;
    }

     &:hover{
       background-color: $primary-color-hover;
    }
}


.filterRemove{
    background-color: $red-color;
    width: 100%;
    height: 38px;
    float: left;
    color: $white-color;
    border: 0;
    padding: 9px 0 0;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;

    &:hover{
       background-color: $red-color-hover;
    }
}