<div class="container">
    <div class="row">
        <div class="col md-12 text-center mt-4">
            <h1>Comunicazioni</h1>
            <p class="mt-2 textsize-4 mt-3 mb-4">
                In questa sezione troverai tutte le ultime notizie, aggiornamenti e informazioni riguardanti Easysender.
            </p>
        </div>
    </div>
</div>

<div class="comunicazioni-list">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let item of notifications">
                <section>
                    <span 
                    [ngClass]="item.notificationType === NotificationType.FromPoste ? 'poste-label' : 'es-label'">
                    {{ item.notificationType === NotificationType.FromPoste ? 'Da Poste Italiane' : 'Da Easysender' }}
                    </span>                    
                    <h4>{{item.title}}</h4>
                    <p class="text-truncate">
                        {{item!.description}}                    
                    </p>
                    <a (click)="openModal(comunicazione, item)"><i class='bx bx-chevrons-right'></i> leggi tutto</a>
                </section>
            </div>
            <div class="col-md-12 text-center" *ngIf="notifications.length === 0">
                Nessuna comunicazione inserita
            </div>
        </div>
    </div>
</div>




<!-- MODAL COMUNICAZIONE-->
<ng-template #comunicazione>
  <div class="modal-header">
    <h4 class="modal-title flex-start">
        {{selectedNotification?.title}}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="currentModalRef.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    {{selectedNotification?.description}}
  </div>
</ng-template>
