/* ! Colors
---------------------------------------------------------*/

$primary-color: #567FC5;
$secondary-color: #242424;
$white-color: #fff;
$grey-color: #eee;
$orange-color:#FBBD58;
$deep-grey-color: #ccc;
$green-color: #41AEB7;
$font-stack: 'Poppins', sans-serif;
$background-color: #fff;
$background-color-grey: #EAEAEA;
$border-input: #BFBFBF;
$error-color: #ff0000;
$valid-color: #0fad44;
$alert-color: #d3a717;
$border-color: #DFDFDF;
$grey-light:#EAEAEA;
$grey-middle:#B3B3B3;
$green-color-2:#5AC48D;
$red-color:#F16262;
$black-color:#111111;


/* ! Font weight
---------------------------------------------------------*/

$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

