$primary-color: #567FC5;
$secondary-color: #242424;
$white-color: #fff;
$grey-color: #eee;
$deep-grey-color: #ccc;
$green-color: #41AEB7;
$font-stack: 'Poppins', sans-serif;
$background-color: #fff;
$background-color-grey: #EAEAEA;
$border-input: #BFBFBF;
$error-color: #ff0000;
$valid-color: #0fad44;
$alert-color: #d3a717;
$border-color: #DFDFDF;