<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5">
            <h1 class="mt-3 mb-4">Benvenuto in <span>EasySender</span></h1>
            <p>In collaborazione con Poste Italiane mettiamo a disposizione una vasta gamma di soluzioni <br>
                per soddisfare le tue esigenze di spedizione consegna, garantendo affidabilità, velocità e sicurezza.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 mt-3">
            <div class="box">
                <a routerLink="/nuovaSpedizione">
                    <img src="/assets/img/nuova-spedizione.png"><br>
                    Nuova spedizione
                </a>
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box" (click)="openModal(invii)">
                <img src="/assets/img/stato-invii.png">Stato invii
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box" (click)="openModal(archivio)">
                <img src="/assets/img/archivio.png">Archivio spedizioni
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/report.png">Report
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/utility.png">Utility
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/comunicazioni.png">Comunicazioni
            </div>
        </div>
    </div>
</div>


<!-- MODAL STATO INVII-->
<ng-template #invii>
  <div class="modal-header">
    <h4 class="modal-title flex-start">
      <img src="/assets/img/stato-invii.png" style="width: 50px;"> Stato invii
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="currentModalRef.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul>
      <li><a (click)="navigateAndClose('/statoInviiRaccomandate')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Stato invii&nbsp;<strong>RACCOMANDATE</strong>
      </a></li>
      <li><a (click)="navigateAndClose('/statoInviiLettere')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Stato invii&nbsp;<strong>LETTERE</strong>
      </a></li>
      <li><a (click)="navigateAndClose('/statoInviiTelegrammi')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Stato invii&nbsp;<strong>TELEGRAMMI</strong>
      </a></li>
      <li><a (click)="navigateAndClose('/statoInviiAgol')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Stato invii&nbsp;<strong>AGOL</strong>
      </a></li>
      <li><a (click)="navigateAndClose('/statoRichiesteVisure')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Stato richieste&nbsp;<strong>VISURE/CERTIFICATI</strong>
      </a></li>
    </ul>
  </div>
</ng-template>

<!-- MODAL ARCHIVIO-->
<ng-template #archivio>
  <div class="modal-header">
    <h4 class="modal-title flex-start">
      <img src="/assets/img/archivio.png" style="width: 50px;"> Archivio
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="currentModalRef.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul>
      <li><a (click)="navigateAndClose('/archivioSpedizioni')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Archivio&nbsp;Spedizioni
      </a></li>
      <li><a (click)="navigateAndClose('/archivioVisure')">
        <i class='bx bxs-right-arrow-alt'></i>&nbsp;&nbsp;Archivio&nbsp;Visure/Certificati
      </a></li>
    </ul>
  </div>
</ng-template>