@use '../../../variables' as *;

h1{
    color: $secondary-color;
    font-size: 40px;
    font-weight: 400;

    span{
        color: $primary-color;
        font-weight: 600;
    }
}


.box{
    background-color: $background-color-grey;
    border: solid 1px $background-color-grey;
    text-align: center;
    height: 200px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    transition: all;
    transition-duration: .2s;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    
    &:hover{
        border: 1px solid $primary-color;
    }

    img {
        max-width: 100%; 
    }
}