@use '../../../variables' as *;

h1{
    color: $secondary-color;
    font-size: 40px;
    font-weight: 400;

    span{
        color: $primary-color;
        font-weight: 600;
    }
}


.box{
    background-color: $background-color-grey;
    border: solid 2px $background-color-grey;
    text-align: center;
    height: 200px;
    width: 100%;
    font-weight: 500;
    transition: all;
    transition-duration: .2s;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
    
    &:hover{
        border: 2px solid $primary-color;
    }

    &:hover img{
       transform: scale(1.07);
       transition: all .3s cubic-bezier(.215, .61, .355, 1);
    }

    img{
        width: 100px;
    }

    a:link, a:visited{
        color: $secondary-color;

        &:hover{
            color: $primary-color;
        }
    }
}