<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5">
            <h1 class="mt-3 mb-4">Benvenuto in <span>EasySender</span></h1>
            <p>In collaborazione con Poste Italiane mettiamo a disposizione una vasta gamma di soluzioni <br>
                per soddisfare le tue esigenze di spedizione consegna, garantendo affidabilità, velocità e sicurezza.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/nuova-spedizione.png">Nuova spedizione
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/stato-invii.png">Stato invii
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/archivio.png">Archivio spedizioni
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/report.png">Report
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/utility.png">Utility
            </div>
        </div>
        <div class="col-lg-2 mt-3">
            <div class="box">
                <img src="/assets/img/comunicazioni.png">Comunicazioni
            </div>
        </div>
    </div>
</div>