<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-3 mb-3">
            <img src="/assets/img/logo-login.svg" class="logo mt-5 mb-2">
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 text-center mt-4">
                    <h1>Termina la registrazione</h1>
                    <small>Aggiungi i codici contratto per terminare la registrazione. N.B. se non inserisci i codici contratto, non potrai spedire questi prodotti.</small>
                </div>
                <div class="col-lg-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="forms">
                        <label>
                            <input type="text" formControlName="agolCode" (keypress)="allowOnlyNumbers($event)" 
                             placeholder="Se sei utente AGOL inserisci il codice contratto"/>
                        </label>
                        <label>
                            <input type="text" formControlName="volCode" (keypress)="allowOnlyNumbers($event)"
                             placeholder="Se sei utente VOL inserisci il codice contratto"/>
                        </label>
                        <label>
                           <button type="submit">Termina la registrazione</button>
                        </label>
                        <div *ngIf="errorMessage" class="error">
                            {{ errorMessage }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
